@tailwind base;
@tailwind components;
@tailwind utilities;

/* .github-btn {
    @apply border-2 bg-primary px-4 py-2 flex items-center text-white rounded hover:bg-transparent hover:border-primary hover:text-primary hover:-translate-y-2 duration-300
}

.live-btn {
    @apply border-2 bg-secondary text-white rounded hover:bg-transparent hover:text-secondary hover:border-secondary hover:-translate-y-2 duration-300 px-4 py-2 flex items-center 
} */

html {
    scroll-behavior: smooth;
}


.animate-spin {
    animation: spin 7s linear infinite;
}

.animate-bounce {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }

  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}


@keyframes spin {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.tech-use {
    @apply border-2 p-1 px-2 rounded-full border-secondary text-tertiary text-[10px] font-medium;
}

.hover-techStack{
    @layer hover:-translate-y-3 transform-translate duration-300 cursor-pointer xl:ml-8;
}


